
  
  <!-- <div class="selectMenu row">
    <div class="col-md-4">
      <label for="select" class="form-label">Marka Seç</label>
      <select class="form-select" [(ngModel)]="selectedBrand" (ngModelChange)="onBrandChange()" id="select" size="brandList.length">
        <option *ngIf="!selectedBrand" selected disabled>Marka Seç</option>
        <option *ngFor="let brand of brandList" [value]="brand.brandName">{{ brand.brandName }}</option>
      </select>
    </div>
  
   

    <div class="col-md-4">
        <button class="btn btn-primary" [routerLink]="['/Markalar/Arabalar/Resimler',selectedBrand, selectedColor]" style="cursor: pointer;" > Filtrele</button>
    </div>
  </div>
   -->