<!-- corporate.component.html -->
<div class="corporate-container">
    <!-- Loading indicator -->
    
  
    <!-- Ana içerik -->
    <div>
      <!-- Hero Section -->
      <section class="hero-section">
        <div class="hero-content">
          <h1>{{aboutUs.title}}</h1>
           
          <p class="hero-description">{{aboutUs.description}}</p>
          
        </div>
      </section>
  
      <!-- Vision & Mission -->
      <section class="vision-mission">
        <div class="container">
          <div class="vision-box">
            <h2>Vizyonumuz</h2>
            <p>{{aboutUs.vision}}</p>
          </div>
          <div class="mission-box">
            <h2>Misyonumuz</h2>
            <p>{{aboutUs.mission}}</p>
          </div>
        </div>
      </section>
    </div>
  </div>